<header>
        <section>
            <nav class="navbar navbar-expand-lg navbar-light  bg-primary ">
                <a class="navbar-brand" href="#">BLOGSPOT Admin Panel</a>
               
</nav>
               
        </section>
    </header>