
<div class="jumbotron text-center">
  
  <h1 class="display-4">Welcome to our site,{{user.firstname}}</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <div class="d-flex justify-content-center">

    {{#if user}}
    <a href="/articles" class="btn btn-primary mr-3">Articles</a>
    <a href="/myblogs" class="btn btn-success">MY page</a>
   {{else}}
    <a href="/login" class="btn btn-primary mr-3">Login</a>
    <a href="/signup" class="btn btn-success">Sign Up</a>
   
    {{/if}}
  </div>
</div>

